version: "3.8"

services:
  postgres:
    image: postgres:15
    container_name: order_pg
    restart: always
    environment:
      POSTGRES_USER: q
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: orders
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7
    container_name: order_redis
    restart: always
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redisdata:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: order_api
    restart: always
    environment:
      NODE_ENV: development
      # Postgres
      PG_HOST: postgres
      PG_PORT: 5432
      PG_USER: postgres
      PG_PASSWORD: postgres
      PG_DATABASE: orders
      # Redis
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_URL: redis://redis:6379
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    ports:
      - "3000:3000"
    command: ["npm", "run", "dev"]
    volumes:
      - ../:/usr/src/app
    working_dir: /usr/src/app

  worker:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: order_worker
    restart: always
    environment:
      NODE_ENV: test
      # Postgres
      PG_HOST: postgres
      PG_PORT: 5432
      PG_USER: postgres
      PG_PASSWORD: postgres
      PG_DATABASE: orders
      # Redis
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_URL: redis://redis:6379
      # Worker config
      WORKER_CONCURRENCY: 10
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    command: ["node", "dist/workers/worker.js"]
    # volumes:
    #   - ../:/usr/src/app
    working_dir: /usr/src/app

volumes:
  pgdata:
  redisdata:
